.footer {
  color: white;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

.footer__content {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 1.4rem !important;
  /* font-weight: bold; */
}
