.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__search .MuiOutlinedInput-root {
  border-radius: 50px;
}

.header__menu__title {
  font-weight: bold !important;
}

.header__image img {
  object-fit: contain;
  height: 7rem;
  margin-left: 2rem;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  width: 20rem;
  margin-right: 2rem;
}

.pointer {
  cursor: pointer;
}
