.home {
  font-weight: bolder;
}

.home__section {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.home__section1 {
  display: flex;
  justify-content: space-evenly;
}

.home__section2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 950px) {
  .home__section1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home__section2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
