.searchPage {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.search__filters__row1 {
  display: flex;
}
.search__filters__row2 {
  display: flex;
}

.search__filters {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.search__filter__chip {
  margin-right: 10px !important;
}

@media (max-width: 620px) {
  .search__filters {
    flex-direction: column;
  }
  .search__filters__row2 {
    margin-top: 10px;
  }
}
